[Desktop Entry]
Name=Open Fodder
GenericName=Action-Strategy Shoot 'em 
Comment=An open source port of Cannon Fodder
Icon=openfodder
Exec=openfodder
Terminal=false
Type=Application
Categories=Game;ActionGame;
