image: Visual Studio 2022

clone_depth: 1

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      ARCH: x64
      CMAKE_PLATFORM: x64
      CONFIGURATION: Release
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      ARCH: x86
      CMAKE_PLATFORM: Win32
      CONFIGURATION: Release

build_script:
  - cmake -S . -B Projects\VS -G "Visual Studio 17 2022" -A %CMAKE_PLATFORM%
  - cmake --build Projects\VS --config %CONFIGURATION%

test_script:
  - mkdir c:\built
  - cd c:\built
  - git clone --single-branch https://github.com/OpenFodder/data.git .
  - git clone https://github.com/OpenFodder/tests.git Tests
  - copy %APPVEYOR_BUILD_FOLDER%\Run\openfodder.exe c:\built
  - copy %APPVEYOR_BUILD_FOLDER%\Run\SDL3.dll c:\built
  - copy %APPVEYOR_BUILD_FOLDER%\Run\SDL3_mixer.dll c:\built
  - openfodder --appveyor --unit-test-headless
  - cd %APPVEYOR_BUILD_FOLDER%

after_build:
  - 7z a OpenFodder-%ARCH%-%CONFIGURATION%-latest.zip %APPVEYOR_BUILD_FOLDER%\Run\openfodder.exe %APPVEYOR_BUILD_FOLDER%\Run\SDL3.dll %APPVEYOR_BUILD_FOLDER%\Run\SDL3_mixer.dll %APPVEYOR_BUILD_FOLDER%\README.md %APPVEYOR_BUILD_FOLDER%\COPYING %APPVEYOR_BUILD_FOLDER%\openfodder.ini.example
  - appveyor PushArtifact OpenFodder-%ARCH%-%CONFIGURATION%-latest.zip

artifacts:
  - path: Run\openfodder.exe
    name: openfodder.exe
