; OpenFodder
;
; Example ini settings are the engine defaults 
;

[openfodder]

; Start the game in a window
window=true

; Enable cheat keys
cheats=false

; Window size multipler by original game resolution (Amiga 320x225, Dos 320x200)
; auto finds a size approximately half your screen resolution
; values such as 1, 2 or 3+ are multiples of the original resolution
scale=auto

; Number of map tiles to draw horizontally (0 for platform default)
columns=0

; Number of map tiles to draw vertically (0 for platform default)
rows=0

; Don't use mouse grab (this alters the behaviour of the in-game camera window) -- Useful for VMs
alternate-mouse=false

; Enable copy protection screen on Dos CD release
copyprotection=false


[paths]
; Paths to data base folder
; There is no limit to the number paths in this section (eg, path1, path2... path10)
;path1=c:/games/openfodder
;path2=d:/games/openfodder
;path3=d:/games/openfodder

;
;
[engine]

; Default platform (amiga/pc)
platform=amiga

; Game engine to use in single/random maps (cf1/cf2)
game=cf1

; Maximum number of sprites in game (original engine is 45)
maxsprite=45

; Maximum number of enemies which can spawn (original engine is 10)
maxspawn=10


[skip]

; Skip the game introduction screens
intro=false

; Skip the briefing screen
briefing=false

; Skip the killed in action / promotion screens
service=false

; Skip the hill recruit screen
hill=false
